# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized.

### Some of the popular languages that Data Scientists use are:
    1- python
    2- R
    3- julia

### Some of the commonly used libraries used by Data Scientists include:
    1- Numpy
    2- Pandas
    3- Matplotlib

| Data Science Tools |
|--------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

- **Addition:** `3 + 4` results in `7`.
- **Subtraction:** `8 - 5` results in `3`.
- **Multiplication:** `6 * 7` results in `42`.
- **Division:** `10 / 2` results in `5`.
- **Exponentiation:** `2 ** 3` results in `8`.
- **Modulus:** `9 % 4` results in `1`.

In [3]:
# This is a simple arithmetic expression to multiply then add integers
result = (3 * 4) + 5
print(result)

17

In [4]:
# This will convert 200 minutes to hours by dividing by 60
hours = 200 / 60
print(hours)

3.3333333333333335

**Objectives:**

- List popular languages for Data Science.
- Demonstrate how to evaluate arithmetic expressions in Python.
- Explain the conversion of minutes to hours using Python.
- Create tables in markdown to organize and present data effectively.
- Introduce various open-source tools used in Data Science environments.

## Author
Asaad Elsaadany Bedeir